* {
  box-sizing:border-box
}

body {
  margin: 0;
  min-width: 320px;
  font-family: $font;
  font-size: 14px;
  height: 100%;
  color: $base-color;
}

a {
  text-decoration:none;
  color: $base-color;

  &:hover,
  &:active {
    text-decoration: none;
    color: rgba($base-color, 0.5);
  }
}

img {
  max-width:100%;
  height:auto;
}

.page {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  padding-top: 90px;
}